/*------------------------------------------------------------------
[Reponsive Mode Page Stylesheet]

Project:    Cannavaro Notepad Memo Admin Dashboard Template
Version:    1.0
Last change:    25/09/2014 [fixed Float bug, vf]
Author: themesmile
-------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
    body {
        padding: 0px;
        overflow-x: hidden;
    }
    .navbar-nav .open .dropdown-menu {
        margin: 0!important;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
        color: #fff!important;
    }
    ul.topnav ul {
        position: absolute!important;
        right: -180px!important;
        width: 180px!important;
        margin-top: -38px!important;
    }
    #skin-select #toggle.active {
        border-radius: 0;
        height: 50px;
        position: absolute;
        top: -10px;
        width: 50px;
    }
    #skin-select li i {
        top: 0!important;
        left: -11px!important;
        padding: 8px 0!important;
    }
    .nav-bg-trans {
        padding: 0 10px!important;
        z-index: 5000;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: #111!important;
        overflow-x: hidden;
    }
    .sub-board {
        margin-left: 50px!important;
    }
    .margin-left {
        margin: -25px 25px 0 0;
        float: right;
        display: inline-block;
    }
    .margin-left li {
        position: relative;
        display: inline-block;
        float: left;
        margin: 0 -6px 0 0 !important;
    }
    .logo-text {
        font-size: 20px;
        top: -8px!important;
        left: 50px;
    }
    .date-list {
        margin-top: 16px;
        font-size: 12px;
        display: inline-flex;
        margin-right: 0px;
    }
    .noft-btn, .admin-pic, .dropdown-setting:after {
        display: none;
    }
    .navbar-nav > li > a {
        border-top: 1px solid rgba(0, 0, 0, 0.4);
    }
    .dropdown-setting {
        background: rgba(0, 0, 0, 0.3)!important;
    }
    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        background-color: #eee;
        border-color: transparent!important;
    }
    .nav>li>a:hover, .nav>li>a:focus {
        background-color: transparent!important;
        color: #fff!important;
    }
    .navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
        width: 286px;
    }
    li.footer-green, li.footer-blue, li.footer-red {
        width: 286px;
    }
    #menuwrapper ul li:hover ul, #menuwrapper ul li.iehover ul {
        top: 38px;
    }
    /*------------------------------------------------------------------------------------*/
}
/*end responsive*/
